html {
  background-color: #f5e1c8;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5e1c8; /* Light brown tint */
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

#root {
  min-height: 100vh;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

