.navbar {
  background-color: #39a35f;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Aligns left and right sections */
  align-items: center;
}

.navbar-list,
.profile-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin: 0 10px; /* Even spacing between items */
  background-color: #5b4e3e;
  padding: 3px 8px;
  border-radius: 4px; /* Slight rounding for cleaner look */
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 3px 10px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #efdcb3;
}
